body {
  background-color: #f6f6f6 !important;
}


.img-cover-left {
  background-position: 80% center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.title-text{
  text-align: center;
  font-size: 40px;
  font-weight: 550;
  color: #464646;
}

.lead-organiser{
  width: 70vw;
  margin-bottom: 2.5%;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 90vh;
}

.lead-organiser .tile .tile-img-wrap{
  height: 80%;
}
@media only screen and (max-width: 600px) {
  .lead-organiser{
    height: 100vw;
    width: 90vw;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5vw;
    margin-right: 5vw;

  }
  .lead-organiser .tile .tile-img-wrap{
    height: 70%;
  }

  .title{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .lead-organiser .tile .tile-title .tile-title-text
  {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.lead-organiser .tile{
  padding: 5%;
}


.lead-organiser .tile .tile-img-wrap .tile-img{
  width: 100%;
  height: 100%;
}

.team-heads {
  overflow: hidden;
}

.team-heads .glider-track {

}

.img-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fig {
  height: 400px;
  padding: 20px;
  width: 90%;
  background-color: white;
  border-radius: 18px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-slide {
  height: 400px;
  float: left;
  width: 90%;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0
  rgba(0, 0, 0, 0.2), 0 6px 20px 0
  rgba(0, 0, 0, 0.19);
  margin-left: 5%;
  margin-right: 5%;
}

.img-slide .img-layer {
  height: 100%;
  z-index: 100;
  position: relative;
  color: white;
}

.img-slide .img-layer .img-des {
  bottom: 0;
  width: 100%;
  position: absolute;
}

.img-slide .img-layer .img-des .img-title {
  font-size: 22px;
  font-weight: 600;
  color: inherit;
  text-align: center;
  font-family: inherit;
  bottom: 0;
}

.img-slide .img-layer .img-des .img-content {
  bottom: 0;
  padding: 20px;
  overflow: hidden;
}

.img-slide .img-layer .img-des .img-content .img-text {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.8);
}

.img-slide .img-layer:hover {
  background: rgba(0, 0, 0, 0.3);
}

.web-team {
  overflow: hidden;
  height: auto;
  margin-bottom: 100px;
}

.web-team .web-glider {
  height: auto;
}

.web-team .web-glider .glider-track {
  height: 500px;
}

.web-team .web-glider .glider-track figure {
  height: 100%;
  margin-left: 1.25%;
  margin-right: 1.25%;
}

.tile {
  height: 100%;
  padding: 10%;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile .tile-img-wrap {
  height: 65%;
  width: 100%;
  text-align: center;
}

.tile .tile-img-wrap .tile-img {
  display: inline-block;
  border-radius: 10px;
  width: 85%;
  height: 100%;
}

.tile .tile-title {
  text-align: center;
  margin-top: 2px;
}

.tile .tile-title .tile-title-text {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  font-family: inherit;
  font-weight: 600;
  color: #272626;
}

.tile .tile-des {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #585757;
}
/*# sourceMappingURL=team.css.map */