<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team TEDxNITRaipur</title>
    {% load static %}
    <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static "js/team.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
    <link rel="stylesheet" href="{% static "css/team.css" %}" >
    <link rel="stylesheet" href="{% static "css/Home Page.CSS" %}">
    <link rel="stylesheet" href="{% static "css/glider.min.css" %}">

</head>
<body ng-app="qbApp" ng-controller="qbCtrl">
    <!--Header-->
    <nav class="navbar navbar-expand-sm bgd navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/static/images/TEDxLogo.png" style="object-fit:cover; height:50px" height="100px" width="120px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="link1" href="/">About Us</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/speakers">Previous Speakers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team">Our Team</a>
              </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Title Faculty Incharge-->
    <div class="title">
        <div class="title-text">
            Faculty In-Charge, TED<sup>x</sup>NITRaipur
        </div>
    </div>
    <!--Lead Organiser tile-->
    <div class="lead-organiser">
        <div class="tile">
            <div class="tile-img-wrap">
                <div class="tile-img img-cover-left" style="background-image: url('../static/images/sanjeev-sir.jpg');">
                    <div class="tile-img-layer">

                    </div>
                </div>
            </div>
            <div class="tile-title">
                <div class="tile-title-text">
                    Dr. Sanjeev Das
                </div>
            </div>
            <div class="tile-des">
                Department of Metallurgical and Materials Engineering
            </div>
        </div>
    </div>

    <!--Title Lead Organisers-->
    <div class="title">
        <div class="title-text">
            Lead Organisers
        </div>
    </div>
    <!--Head Coordinator-->
    <div class="team-heads">
        <div class="glider-contain multiple">
            <div class="heads-glider">
                <figure>
                    <div class="img-slide img-cover active-img" ng-mouseenter="qbHoverOnFun($event)" ng-mouseleave="qbHoverOffFun($event)" style="background-image: url('../static/images/Yash.jpg');">
                        <div class="img-layer">
                            <div class="img-des">
                                <div class="img-title">
                                    Yash Moda
                                </div>
                                <div class="img-content">
                                    <div class="img-text animated">
                                        Biotechnology Engineering
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
                <figure>
                    <div class="img-slide img-cover active-img" ng-mouseenter="qbHoverOnFun($event)" ng-mouseleave="qbHoverOffFun($event)" style="background-image: url('../static/images/Guneet.JPG');">
                        <div class="img-layer">
                            <div class="img-des">
                                <div class="img-title">
                                    Guneet Singh Anand
                                </div>
                                <div class="img-content">
                                    <div class="img-text animated">
                                        Biotechnology Engineering
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
                <figure>
                    <div class="img-slide img-cover active-img" ng-mouseenter="qbHoverOnFun($event)" ng-mouseleave="qbHoverOffFun($event)" style="background-image: url('../static/images/shirish.jpg');">
                        <div class="img-layer">
                            <div class="img-des">
                                <div class="img-title">
                                    Shirish Chandrakar
                                </div>
                                <div class="img-content">
                                    <div class="img-text animated">
                                        Metallurgical Engineering
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
                <figure>
                    <div class="img-slide img-cover active-img" ng-mouseenter="qbHoverOnFun($event)" ng-mouseleave="qbHoverOffFun($event)" style="background-image: url('../static/images/swati.JPG');">
                        <div class="img-layer">
                            <div class="img-des">
                                <div class="img-title">
                                    Swati Mahato
                                </div>
                                <div class="img-content">
                                    <div class="img-text animated">
                                        Metallurgical Engineering
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
                <figure>
                    <div class="img-slide img-cover active-img" ng-mouseenter="qbHoverOnFun($event)" ng-mouseleave="qbHoverOffFun($event)" style="background-image: url('../static/images/devesh.jpeg');">
                        <div class="img-layer">
                            <div class="img-des">
                                <div class="img-title">
                                    Devesh Sharma
                                </div>
                                <div class="img-content">
                                    <div class="img-text animated">
                                        Computer Science and Engineering
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

            <div class="heads-glider-dots" id="web-resp-dots"></div>
        </div>
    </div>

    <!--Web Team-->
    <div class="text center">
        <h1 style="text-align:center;">Website Development Team</h1>

    </div>
    <div class="web-team">
        <div class="glider-contain multiple">
            <div class="web-glider">
                <figure>
                    <div class="tile">
                        <div class="tile-img-wrap">
                            <div class="tile-img img-cover" style="background-image: url('../static/images/Sugandha.jpg');">
                                <div class="tile-img-layer">

                                </div>
                            </div>
                        </div>
                        <div class="tile-title">
                            <div class="tile-title-text">
                                Sugandha Verma
                            </div>
                        </div>
                        <div class="tile-des">
                            Electronics and Communication Engineering<br>
                            Back-End Developer
                        </div>
                    </div>
                </figure>
                <figure>
                    <div class="tile">
                        <div class="tile-img-wrap">
                            <div class="tile-img img-cover" style="background-image: url('../static/images/shashwat1.jpeg');">
                                <div class="tile-img-layer">

                                </div>
                            </div>
                        </div>
                        <div class="tile-title">
                            <div class="tile-title-text">
                                Shashwat Awasthi
                            </div>
                        </div>
                        <div class="tile-des">
                            Computer Science and Engineering<br>
                            Front-End Developer
                        </div>
                    </div>
                </figure>
                <figure>
                    <div class="tile">
                        <div class="tile-img-wrap">
                            <div class="tile-img img-cover" style="background-image: url('../static/images/Hardik.jpg');">
                                <div class="tile-img-layer">

                                </div>
                            </div>
                        </div>
                        <div class="tile-title">
                            <div class="tile-title-text">
                                Hardik Pratap Singh
                            </div>
                        </div>
                        <div class="tile-des">
                            Civil Engineering<br>
                            Back-End Developer
                        </div>
                    </div>
                </figure>
                <figure>
                    <div class="tile">
                        <div class="tile-img-wrap">
                            <div class="tile-img img-cover" style="background-image: url('../static/images/Ayush.jpg');">
                                <div class="tile-img-layer">

                                </div>
                            </div>
                        </div>
                        <div class="tile-title">
                            <div class="tile-title-text">
                                Ayush Agrawal
                            </div>
                        </div>
                        <div class="tile-des">
                            Computer Science and Engineering<br>
                            Front-End Developer
                        </div>
                    </div>
                </figure>
                <figure>
                    <div class="tile">
                        <div class="tile-img-wrap">
                            <div class="tile-img img-cover" style="background-image: url('../static/images/Srijan.jpg');">
                                <div class="tile-img-layer">

                                </div>
                            </div>
                        </div>
                        <div class="tile-title">
                            <div class="tile-title-text">
                                Srijan
                            </div>
                        </div>
                        <div class="tile-des">
                            Electronics and Communication Engineering<br>
                            Front-End Developer
                        </div>
                    </div>
                </figure>
            </div>

            <div class="web-glider-dots" id="web-resp-dots"></div>
        </div>
    </div>

    <!--Footer-->
    <div class="foter">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="foter-section about " >

              <h2>Quick Links</h2>
              <a href="https://www.ted.com" style="color: white;"><li>TED</li></a>
              <a href="https://www.ted.com/about/programs-initiatives/tedx-program" style="color: white;"><li>TED<sup>x</sup></li></a>
              <a href="http://www.nitrr.ac.in" style="color: white;"><li>NIT Raipur</li></a>
          </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="foter-section link" >
            <h2>Catch Us At</h2>
            <div class="contact">
              <span><i class="fa fa-envelope-o">&nbsp; tedxnitraipur@nitrr.ac.in</i></span>
            </div>
            <div class="social">
              <a href="https://www.facebook.com/tedxnitraipur/"><i class="fa fa-facebook-official" ></i></a>
              <a href="https://www.instagram.com/tedxnitraipur/"><i class="fa fa-instagram" ></i></a>
              <a href="https://www.linkedin.com/company/tedx-nit-raipur"><i class="fa fa-linkedin" ></i></a>
            </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="foter-section map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1859.271576253507!2d81.603183737625!3d21.24995717107707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dde213f66723%3A0x21543965c50c43c7!2sNational%20Institute%20of%20Technology%2C%20Raipur!5e0!3m2!1sen!2sin!4v1578681614746!5m2!1sen!2sin" width="350" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <a href="#" class="floating-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-question" aria-hidden="true"></i></a>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Contact TED<sup>x</sup>NITRaipur</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Company/Start-Up Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="e.g. abc associates">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Company E-Mail Address</label>
                                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="abc@example.com">
                                <div class="form-group">
                                    <label for="Offer">What Can you offer us?</label>
                                    <input type="text" class="form-control" id="Offer" placeholder="Goodies,Monetory Funds etc.">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btnpop">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/glider.js"></script>
    </body>
    <script>
        new Glider(document.querySelector(".heads-glider"),{
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable:true,
            dots: '#heads-resp-dots',
            responsive: [
                {
                    // screens greater than >= 775px
                    breakpoint: 600,
                    settings: {
                        // Set to `auto` and provide item width to adjust to viewport
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        itemWidth: 150,
                        duration: 0.25
                    }
                },{
                    // screens greater than >= 1024px
                    breakpoint: 1000,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        itemWidth: 150,
                        duration: 0.25
                    }
                },{
                    // screens greater than >= 1024px
                    breakpoint: 1400,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        itemWidth: 150,
                        duration: 0.25
                    }
                }
            ]
        })
    </script>


    <script>
        new Glider(document.querySelector(".web-glider"),{
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable:true,
            dots: '#web-resp-dots',
            responsive: [
                {
                    // screens greater than >= 775px
                    breakpoint: 600,
                    settings: {
                        // Set to `auto` and provide item width to adjust to viewport
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        itemWidth: 150,
                        duration: 0.25
                    }
                },{
                    // screens greater than >= 1024px
                    breakpoint: 1000,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        itemWidth: 150,
                        duration: 0.25
                    }
                },{
                    // screens greater than >= 1024px
                    breakpoint: 1400,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        itemWidth: 150,
                        duration: 0.25
                    }
                }
            ]
        })
    </script>

</html>