html, body{
    height: 100%;
    scroll-behavior: smooth;
    background-color:#F7F3E3;
}
.bgd{
    background-color: black;
}
.testimonial{
    background: #D6E5E3;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
    margin-top: 50px;
}
.testimonial i{
    display: inline-block;
    font-size: 80px;
    color: #333;
    margin-bottom: 20px;
    opacity: 0.6;
}
.testimonial .description{
    font-size: 16px;
    color: #777;
    text-align: justify;
    margin-bottom: 30px;
    opacity: 0.9;
    letter-spacing: -2px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.testimonial .testimonial-content{
    width: 100%;
    position: absolute;
    left: 0;
}
.testimonial .pic{
    display: inline-block;
    border: 4px solid #333;
    
    box-shadow: 0 0 2px 2px #777;
    overflow: hidden;
    z-index: 1;
    position: relative;
    height: 100px;
}
.testimonial .pic .img{
    width: 100px;
    
}
.testimonial .title{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    margin: 0 0 0 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #ffd9b8;
}
.pic img{
    width: 100px !important;
    height: 100px;
}
.webteam img{
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
width: 50%;
display: block;
}
.webteam .title{
   text-align: center;
   color: white;
   font-weight: bold;
   text-transform: capitalize; 
}
.webteam .branch{
    text-align: center;
}
.foter{
    background: black;
    color: white;  
    position: relative;
    width: 100%;
}

.foter  .foter-section{
 flex:1;
 padding: 25px;
}
.foter  .foter-section .about{
    align-items: center;}
.foter .foter-bottom{
    background-color: #333;
    color: wheat;
    text-align: center;
    
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
    width: 100%;
    
}
.foter  .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.foter  .about .social a{
    border:1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}
.foter  .about .social a:hover{
    border: 1px solid white;
    color: white;
}
.con{
    font-weight: 400;
    padding-top: 0.2em;
    padding-bottom: 0;
    line-height: 1;
    font-size: .9em;
}
.form-group{
    margin-bottom: 0.6em;
}