<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="team.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

    <script type="text/javascript" src="js/jquery.js"></script>
     <script type="text/javascript" src="js/bootstrap.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
     <script>
       $(document).ready(function(){
         $("#testimonial-slider").owlCarousel({
           items:3,
           itemsDesktop:[1000,3],
           itemsDesktopSmall:[979,2],
           itemsTablet:[768,2],
           itemsMobile:[650,1],
           pagination:true,
           autoPlay:true         })
       }
       )
     </script>
    <title>Team Section</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bgd navbar-dark">
    <div class="container">
     <a class="navbar-brand" href="#">TEDx NIT Raipur</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item ">
           <a class="nav-link" href="HomePage.html">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Gallery</a>
         </li>
         <li class="nav-item active">
             <a class="nav-link" href="team.html">Our Team</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Previous Speakers</a>
           </li>
           
       </ul>
     </div>
    </div>
   </nav>

   <div class="team">
    <div class="container-fluid" style="background: #CACFD6; height: 700px;">
      <h1 style="text-align: center; padding-top: 10px;">Our Organisers for the event</h1>
        <div class="row">
          <div class="owl-carousel" id="testimonial-slider">
            <div class="testimonial">
              <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
              <p class="description"></p>
              <div class="testimonial-content">
                <div class="pic">
                  <img src="img/IMG_20200105_124051_304 - Yash Moda.jpg">
                </div>
                <h3 class="title">Yash Moda</h3>
                <span class="branch">Bio-Technology Engineering</span>
              </div>
            </div>
            <div class="testimonial">
              <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
              <p class="description">A leader is one who knows the way goes the way and shows the way such are the qualities in our exquisite pioneer of TEDxNITRaipur, Shirish Chandrakar studying in 7th semester Metallurgical and materials engineering from NIT Raipur. His ability to settle comfortably in any work given makes him diligent and excellent communication specialist. Managing both Academics and extra curricular activities well defines his Experience and his skillset is perfect for making him a Lead organizer in TEDxNITRaipur.</p>
              <div class="testimonial-content">
                <div class="pic">
                  <img src="img/shirish - shirish chandrakar.jpg" >
                </div>
                <h3 class="title">Shirish Chandrakar</h3>
                <span class="branch">Metallurgical Engineering</span>
              </div>
            </div>
            <div class="testimonial">
              <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
              <p class="description">
                Leadership is about vision, responsibility not power and is the one who knows the way, goes the way, and shows the way, the head coordinator of TEDx NIT Raipur Guneet Singh Anand studying in 7th Semester Biotechnology Engineering from NIT Raipur. Hisnextraordinary communication skills make him different from others.
                </p>
              <div class="testimonial-content">
                <div class="pic">
                  <img src="img/INSIDEME (6) - Guneet Anand.JPG" >
                </div>
                <h3 class="title">Guneet Singh Anand</h3>
                <span class="branch">Bio-Technology Engineering</span>
              </div>
            </div>
            <div class="testimonial">
              <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
              <p class="description">A leader who makes a way out from problems to solutions, who knows how to deal with situations and bring them under control, the lioness of TEDx NIT Raipur, Swati Mahato. Studying in 7th Semester, Metullargical Engineering from NIT Raipur. She has got extraordinary communication skills, which makes her stand out from the crowd. She uses her experience wisely in all the works under her. She is a perfect example of the fact that girls are equal to boys whatsoever the field be. Team TEDx NIT Raipur  is obliged to have her as the Lead Organizer this year.</p>
              <div class="testimonial-content">
                <div class="pic">
                  <img src="img/swatiMahato - swati mahato.jpg">
                </div>
                <h3 class="title">Swati Mahato</h3>
                <span class="branch">Metallurgical Engineering</span>
              </div>
            </div>
            <div class="testimonial">
              <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
              <p class="description">Leadership is based on inspiration not domination, on cooperation not intimidation, the luminary of TEDx NIT Raipur, Devesh Sharma, studying in 7th semester, Computer science engineering from NIT Raipur, having exceptional expression talent which makes him one of few Lead organizers in TEDxNITRaipur. Having handled various positions of responsibility inside and outside college, his experience will be quite helpful in conducting the event.</p>
              <div class="testimonial-content">
                <div class="pic">
                  <img src="img/Devesh Sir.jpg">
                </div>
                <h3 class="title">Devesh Sharma</h3>
                <span class="branch">Computer Science and Engineering</span>
              </div>
            </div>
          </div>
        </div>
    </div>      
   </div>

   <div class="container">
     <h2 style="text-align: center;">Website Development Team</h2>
     <hr>
     <div class="row">
       <div class="col-lg-5 col-md-12 col-sm-12">
         <div class="webteam">
          <img src="img/IMG-20191027-WA0090 - Shashwat Awasthi.jpg" height="200px" width="150px">
          <div class="webcont">
            <h3 class="title">Shashwat Awasthi</h3>
            <p class="branch">Lead Front-End Designer</p>
          </div>
         </div>
       </div>
       <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="webteam">
         <img src="img/20190602_140740 - Hardik Pratap.jpg" height="200px" width="150px">
         <div class="webcont">
          <h3 class="title">Hardik Pratap</h3>
          <p class="branch">Lead Back-End Designer</p>
         </div>
        </div>
      </div>
     </div>
   </div>



   <div class="foter">
        
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        
    <div class="foter-section about" style="text-align: center;">
      
        <h2>Quick Links</h2>
        <a href="#"><li>TED</li></a>
        <a href="#"><li>TEDx</li></a>
        <a href="#"><li>NIT Raipur</li></a>
      
      <div class="contact">
        <span><i class="fa fa-phone">&nbsp; 123-456-789</i></span>
        <span><i class="fa fa-envelope-o">&nbsp; tedxnitraipur.nitrr.ac.in</i></span>
      </div>
      <div class="social">
        <a href="#"><i class="fa fa-facebook-official" ></i></a>
        <a href="#"><i class="fa fa-instagram" ></i></a>
        <a href="#"><i class="fa fa-linkedin" ></i></a>
      </div>
    </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">   
    <div class="foter-section map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1859.271576253507!2d81.603183737625!3d21.24995717107707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dde213f66723%3A0x21543965c50c43c7!2sNational%20Institute%20of%20Technology%2C%20Raipur!5e0!3m2!1sen!2sin!4v1578681614746!5m2!1sen!2sin" width="500" height="310" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
     
    </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="foter-section Contact">
      <h2>Contact US</h2>
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="text" class="form-control con" id="exampleFormControlInput1" placeholder="Your Name goes here...">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Your Phone Number</label>
          <input type="text" class="form-control con" id="exampleFormControlInput1" placeholder="123-456-789">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your Message For Us</label>
          <textarea class="form-control con" id="exampleFormControlTextarea1" ></textarea>
        </div>
        <button type="button" class="btn btn-light">Send</button>
      </form>
    </div>
  </div>
    </div>
  <div class="foter-bottom">
   &copy; TEDxNITRaipur| Designed and maintained by Shashwat Awasthi
   </div>
  </div>
</body>
</html>